html {
    scroll-behavior: smooth; 
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 120px;
}

.navbar .leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    width: 40%;
}

.navbar .leftside .nav-logo {
    width: 85px;
    height: 85px;
    margin-right: 15px;
}

.navbar .rightside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 240px;
    width: 40%;
}

.navbar .rightside #login {
    background-color: #1e15b6;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 133px;
    height: 45px;
    font-size: 11pt;
    margin-left: 10px;
}

.navbar .rightside #login:hover {
    cursor: pointer;
    background-color: #161175;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.body .topside {
    display: flex;
    flex-direction: column;
    background-color: #3f761f;
    color: white;
    align-items: center;
    justify-content: center;
    height: 212px;
    margin-bottom: 40px;
}

.body .topside p {
    text-align: center;
    font-size: 15pt;
    margin-bottom: 10px;
}

.body .topside h1 {
    width: 70%;
    text-align: center;
    font-size: 38pt;
}

/*card 1*/

.body .bottompart {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.body .bottompart.active {
    display: flex;
    opacity: 1;
}

.body .bottompart .header h4 {
    color: #545454;
    font-size: 13.4pt;
    margin-bottom: 35px;
}

.body .bottompart .header p {
    color: #545454;
    font-size: 12.4pt;
    font-weight: bold;
}

.body .bottompart .credential {
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 648px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body .bottompart .personal {
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 648px;
    height: auto;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body .bottompart .oathcard {
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 648px;
    height: auto;
    margin-top: 10px;
    padding: 40px;
}

.body .bottompart .credential label {
    color: #545454;
    font-size: 13.4pt;
    margin-bottom: 10px;
    margin-left: 40px;
}   

.body .bottompart .personal .row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.body .bottompart .personal .row4 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.body .bottompart .personal .row .first,
.body .bottompart .personal .row .second,
.body .bottompart .personal .row4 {
    display: flex;
    flex-direction: column;
}

.body .bottompart .personal .row .first label,
.body .bottompart .personal .row .second label{
    color: #545454;
    font-size: 13.4pt;
    margin-bottom: 10px;
}

.body .bottompart .personal .row4 label {
    color: #545454;
    font-size: 13.4pt;
    margin-left: 40px;
}

.body .bottompart .oathcard p,
.body .bottompart .oathcard label {
    color: #545454;
    font-size: 13.4pt;
    text-align: justify;
    line-height: 1.5rem;
}

.body .bottompart .oathcard a {
    color:#1e15b6;
    font-size: 13.4pt;
    margin-bottom: 20px;
}

.body .bottompart .oathcard a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.body .bottompart .personal .row #fname, #lname, #mname, #suffix, #dob, #gender {
    width: 271px;
    height: 54px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    font-size: 12.4pt;
    padding-left: 15px;
}

.body .bottompart .credential #email, #password, #confirmpw, #phonenum,
.body .bottompart .personal #address {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    font-size: 12.4pt;
    width: 562px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 15px;
}

.body .bottompart li {
    color: #737373;
    font-size: 10.3pt;
    font-style: italic;
    margin-left: 70px;
}

.body .bottompart ul {
    margin-bottom: 20px;
}

.body .bottompart .credentialbutton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    margin-top: 15px;
}

.body .bottompart .personalbutton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    margin-top: -15px;
}

.body .bottompart .oathbutton #done {
    order: none;
    border-radius: 10px;
    background-color: #1e15b6;
    color: white;
    font-size: 11pt;
    width: 86px;
    height: 39px;
    border: none;
    margin-top: 25px;
}

.body .bottompart .credential .credentialbutton #back,
.body .bottompart .personal .personalbutton #back {
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    background-color: white;
    color: #1e15b6;
    font-size: 11pt;
    width: 86px;
    height: 39px;
}

.body .bottompart .credential .credentialbutton #next,
.body .bottompart .personal .personalbutton #next {
    border: none;
    border-radius: 10px;
    background-color: #1e15b6;
    color: white;
    font-size: 11pt;
    width: 86px;
    height: 39px;
}

.body .bottompart .credential .credentialbutton #back:hover,
.body .bottompart .personal .personalbutton #back:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.body .bottompart .credential .credentialbutton #next:hover,
.body .bottompart .personal .personalbutton #next:hover,
.body .bottompart .oathbutton #done:hover {
    cursor: pointer;
    background-color: #161175;
}

/* Add to your existing CSS */
.password-container {
    position: relative;
    width: 562px;
    margin: 0 auto 20px auto;
}

.password-container input {
    margin-bottom: 0 !important;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

input.error, select.error {
    border-color: #ff0000 !important;
}

input:focus, select:focus {
    outline: none;
    border-color: #1e15b6 !important;
}

/* Animation for error shake */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake {
    animation: shake 0.5s;
}

.footnote {
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    width: 100%;
    height: 266px;
    justify-content: center;
    padding-top: 40px;
}

.footnote .republiclogo #republiclogo {
    width: 174px;
    height: 174px;
    margin-right: 50px;
}

.foonote .firstcolumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footnote .firstcolumn .first {
    margin-bottom: 35px;
}

.footnote .firstcolumn .first h6 {
    font-weight: normal;
    font-size: 12.1pt;
    color: #979797;
    margin-bottom: 20px;
}

.footnote .firstcolumn .first p {
    color: #979797;
    font-size: 11.1pt;
    width: 294px;
}

.footnote .firstcolumn .second h6 {
    font-weight: normal;
    font-size: 12.1pt;
    color: #979797;
    margin-bottom: 20px;
}

.footnote .firstcolumn .second p {
    color: #979797;
    font-size: 11.1pt;
}

.footnote .secondcolumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 319px;
    margin-left: 80px;
    margin-right: 80px;
}

.foonote .secondcolumn .first {
    display: flex;
    flex-direction: column;
}

.footnote .secondcolumn .first h6 {
    font-weight: normal;
    font-size: 12.1pt;
    color: #979797;
    margin-bottom: 20px;
}

.footnote .secondcolumn p {
    color: #979797;
    font-size: 11.1pt;
}

.footnote .secondcolumn li {
    color: #979797;
    font-size: 11.1pt;
    list-style-type: none;
    line-height: 1.3rem;
}

.footnote .secondcolumn li a:hover {
    text-decoration: underline;
}

.footnote .thirdcolumn {
    display: flex;
    flex-direction: column;
}

.footnote .thirdcolumn  li {
    color: #979797;
    font-size: 11.1pt;
    list-style-type: none;
    line-height: 1.3rem;
}

.footnote .thirdcolumn li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .navbar .leftside {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
    .navbar .rightside {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .body .topside {
        height: auto;
        padding: 40px 20px;
    }
    .body .topside h1 {
        font-size: 28pt;
        width: 100%;
    }

    .body .bottompart .credential,
    .body .bottompart .personal,
    .body .bottompart .oathcard {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    .body .bottompart .credential #email, #phonenum,
    .body .bottompart .personal #address {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .body .bottompart .credential #password, #confirmpw{
        width: 558px;
    }
    .toggle-password {
        right: 20px;
    }
    .body .bottompart .personal .row {
        flex-direction: column;
        gap: 10px;
        margin-left: 0;
    }
    .body .bottompart .personal .row #fname, #lname, #mname, #suffix, #dob, #gender {
        width: 100%;
    }
    .body .bottompart .personal .row4 { 
        margin-left: 0;
    }
    .body .bottompart .personal .row4 label {
        margin-left: 0;
    }
    .body .bottompart .credential label,
    .body .bottompart .personal .row .first label,
    .body .bottompart .personal .row .second label {
        margin-left: 0;
    }
    .body .bottompart li {
        margin-left: 20px;
    }
    .body .bottompart .credentialbutton,
    .body .bottompart .personalbutton {
        margin-left: 0;
        justify-content: space-between;
    }
    .body .bottompart.active .credential p {
        margin-left: 0;
    }

    .footnote {
        flex-direction: column;
        height: auto;
        padding: 20px;
        align-items: center;
    }
    .footnote .republiclogo #republiclogo {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footnote .firstcolumn, .footnote .secondcolumn, .footnote .thirdcolumn {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .footnote .firstcolumn .first p {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar .leftside .nav-logo {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .navbar .rightside #login {
        width: 100px;
        height: 40px;
        font-size: 10pt;
    }

    .body .topside p {
        font-size: 14pt;
    }
    .body .topside h1 {
        font-size: 20pt;
    }
    
    .body .bottompart .credential,
    .body .bottompart .personal,
    .body .bottompart .oathcard {
        width: 90%;
        max-width: 480px;
        padding: 15px;
    }
    .body .bottompart .header h4 {
        font-size: 12pt;
        margin-left: 25px;
    }
    .body .bottompart .header p {
        font-size: 11pt;
        margin-left: 25px;
    }
    .body .bottompart .credential label,
    .body .bottompart .personal .row .first label,
    .body .bottompart .personal .row .second label,
    .body .bottompart .personal .row4 label,
    .body .bottompart .oathcard p,
    .body .bottompart .oathcard label {
        font-size: 12pt;
    }
    .body .bottompart .credential #email, #password, #confirmpw, #phonenum,
    .body .bottompart .personal #fname, #lname, #mname, #suffix, #dob, #gender, #address {
        height: 45px;
        font-size: 11pt;
    }
    .body .bottompart li {
        font-size: 9pt;
        margin-left: 15px;
    }
    .body .bottompart .credentialbutton button,
    .body .bottompart .personalbutton button,
    .body .bottompart .oathbutton #done {
        width: 80px;
        height: 35px;
        font-size: 10pt;
    }
    .body .bottompart .credential #password, #confirmpw{
        width: 400px;
    }
    .toggle-password {
        right: 175px;
    }

    .footnote .republiclogo #republiclogo {
        width: 120px;
        height: 120px;
    }
    .footnote .firstcolumn .first p, .footnote .firstcolumn .second p, .footnote .secondcolumn p, .footnote .secondcolumn li, .footnote .thirdcolumn li {
        font-size: 10pt;
    }
    .footnote .firstcolumn h6, .footnote .secondcolumn h6, .footnote .thirdcolumn p {
        font-size: 11pt;
    }
}

@media (max-width: 425px) {
    .navbar .leftside .nav-logo {
        width: 55px;
        height: 55px;
        margin-right: 8px;
    }
    .navbar .rightside #login {
        width: 90px;
        height: 38px;
        font-size: 9pt;
    }

    .body .topside p {
        font-size: 13pt;
    }
    .body .topside h1 {
        font-size: 20pt;
    }

    .body .bottompart .credential,
    .body .bottompart .personal,
    .body .bottompart .oathcard {
        max-width: 425px;
        padding: 12px;
    }
    .body .bottompart .header h4 {
        font-size: 11pt;
    }
    .body .bottompart .header p {
        font-size: 10pt;
    }
    .body .bottompart .credential label,
    .body .bottompart .personal .row .first label,
    .body .bottompart .personal .row .second label,
    .body .bottompart .personal .row4 label,
    .body .bottompart .oathcard p,
    .body .bottompart .oathcard label {
        font-size: 11pt;
    }
    .body .bottompart .credential #email, #password, #confirmpw, #phonenum,
    .body .bottompart .personal #fname, #lname, #mname, #suffix, #dob, #gender, #address {
        height: 42px;
        font-size: 10pt;
    }
    .body .bottompart li {
        font-size: 8pt;
        margin-left: 12px;
    }
    .body .bottompart .credentialbutton button,
    .body .bottompart .personalbutton button,
    .body .bottompart .oathbutton #done {
        width: 75px;
        height: 32px;
        font-size: 9pt;
    }
    .body .bottompart .credential #password, #confirmpw{
        width: 357px;
    }
    .toggle-password {
        right: 220px;
    }

    .footnote .republiclogo #republiclogo {
        width: 100px;
        height: 100px;
    }
    .footnote .firstcolumn .first p, .footnote .firstcolumn .second p, .footnote .secondcolumn p, .footnote .secondcolumn li, .footnote .thirdcolumn li {
        font-size: 9pt;
    }
    .footnote .firstcolumn h6, .footnote .secondcolumn h6, .footnote .thirdcolumn p {
        font-size: 10pt;
    }
}

@media (max-width: 375px) {
    .navbar .leftside .nav-logo {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .navbar .rightside #login {
        width: 80px;
        height: 35px;
        font-size: 8pt;
    }

    .body .topside p {
        font-size: 12pt;
    }
    .body .topside h1 {
        font-size: 18pt;
    }

    .body .bottompart .credential,
    .body .bottompart .personal,
    .body .bottompart .oathcard {
        max-width: 375px;
        padding: 10px;
    }
    .body .bottompart .header h4 {
        font-size: 10pt;
    }
    .body .bottompart .header p {
        font-size: 9pt;
    }
    .body .bottompart .credential label,
    .body .bottompart .personal .row .first label,
    .body .bottompart .personal .row .second label,
    .body .bottompart .personal .row4 label,
    .body .bottompart .oathcard p,
    .body .bottompart .oathcard label {
        font-size: 10pt;
    }
    .body .bottompart .credential #email, #password, #confirmpw, #phonenum,
    .body .bottompart .personal #fname, #lname, #mname, #suffix, #dob, #gender, #address {
        height: 40px;
        font-size: 9pt;
    }
    .body .bottompart li {
        font-size: 7pt;
        margin-left: 10px;
    }
    .body .bottompart .credentialbutton button,
    .body .bottompart .personalbutton button,
    .body .bottompart .oathbutton #done {
        width: 70px;
        height: 30px;
        font-size: 8pt;
    }
    .body .bottompart .credential #password, #confirmpw{
        width: 315px;
    }
    .toggle-password {
        right: 260px;
    }

    .footnote .republiclogo #republiclogo {
        width: 80px;
        height: 80px;
    }
    .footnote .firstcolumn .first p, .footnote .firstcolumn .second p, .footnote .secondcolumn p, .footnote .secondcolumn li, .footnote .thirdcolumn li {
        font-size: 8pt;
    }
    .footnote .firstcolumn h6, .footnote .secondcolumn h6, .footnote .thirdcolumn p {
        font-size: 9pt;
    }
}